@import "variables";

@mixin learn-more-border($color , $op:0.4) {
    width: 117px;
    height: 9px;
    background-color: $color;
    position: absolute;
    transform: translate(-6px , -7px);
    border-radius: 40px;
    opacity: $op;
    z-index: -1;
}

.active-contacts {
    color: black;
    border-radius: 30px;
    background-color: white;
    padding: 15px 25px;
}
.active-contacts:hover {
    background-color: rgba(110, 206, 254, 1);
    color: white;

}

// learn more blocks
@mixin learn-more($font-size:1rem) {
    color: black;
    font-family: $fraunces;
    text-transform: uppercase;
    font-size: $font-size;
}


.learn-more-border.transform {
    @include learn-more-border(hsl(51, 100%, 49%));
    .learn-div-1:hover & {
    @include learn-more-border(hsl(51, 100%, 49%) , 1)
    }
}

.learn-more-border.stand-out{
    @include learn-more-border(hsl(7, 99%, 70%));
    .learn-div-2:hover & {
        @include learn-more-border(hsl(7, 99%, 70%) , 1)
    }
}

.flex-container {
    h3 {
        font-family: $fraunces;
        font-size: 2.5em;
        // width: 84%;
        // color: $Very-dark-desaturated-blue;
        color: $Very-dark-desaturated-blue;
    }

    p {
        color: $Very-dark-grayish-blue;
        font-family: $barlow;
        width: 100%;
        font-size: 1rem;
    
    }
}

ul.footer-ul li a:hover{
    color: white;

}

.icons {
    display: flex;
    justify-content: space-between;
    width: 10.0625em;
    .fab {
        // font-size: 1.3125em;
        font-size: 1.5em;
        color: $Dark-desaturated-cyan;
    }
}

.circle {
    width: 75px;
    height: 75px;
    border-radius: 50% 50%;
    overflow: hidden;
    margin: 0 auto 80px;
}
