$primary: #3ebfff;
$link-color: hsl(167deg, 38%, 36%);
$success: hsl(167deg, 44%, 70%);
$yellow: hsl(51, 100%, 49%);
$Soft-red: hsl(7, 99%, 70%);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.title {
  word-spacing: 1rem;
  top: 0;
  bottom: initial;
  //   font-family: "Barlow", sans-serif;
}
.testemonials {
  padding: 7rem;
  .testemonials-img {
    width: 4.5rem;
  }
}
@media (max-width: 800px) {
  .testemonials {
    padding: 4rem;
  }
}
@media (max-width: 400px) {
  .testemonials {
    padding: 2rem;
  }
}

.readMore {
  position: relative;
  width: fit-content;
  cursor: pointer;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 6px;
    border-radius: 70px;
    background-color: $yellow;
    opacity: 0.3;
  }
  &:hover::after {
    opacity: 1;
  }
}

.readMore-2 {
  @extend .readMore;
  &::after {
    background-color: $Soft-red;
  }
}
body {
  font-family: "Barlow", sans-serif;
}
footer * {
  margin-bottom: 2rem;
}
h1 {
  font-family: "Fraunces", serif;
  letter-spacing: 1rem;
}

h2 {
  font-family: "Fraunces", serif;
}

.fab {
  color: $link-color;
  opacity: 0.7;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
