footer {
    height: 22.5em;
    background-color: $footer-color;
    width: 100%;
    position: relative;
    margin-top: 0;
    top: 0;
    padding-top: 4.3125em;
    img {
        width: 166px;
        height: 33px;
        display: block;
        // position: relative;
        margin: 0 auto 3.25em;
    }

    // ul {
    //     margin: 50px;
    // }
    .icons {
        margin:5.5625em auto 3em;
    }

    .icons i {
        transition: transform 0.5s;
    }
    .icons i:hover {
        color: white;
        cursor: pointer;
        transform: translateY(-9px);
    }
}