@media (max-width: 400px) {
  .navbar {
    // background-color: rgb(145, 121, 121);
    height: 70px;
    // height: auto;
    padding: 30px 51px;
    .fas.fa-bars.hum {
      display: block;
      font-size: 1.5em;
      vertical-align: middle;
      align-self: center;
      color: white;
      margin: initial;
      display: block;
    }
    .nav-container {
      display: flex;
      max-width: 400px;
      align-items: center;

      nav {
        position: absolute;
        z-index: 1;
        margin: 0 auto;
        // left: 50%;
        width: 100%;
        max-width: initial;
        // margin: 3em auto;
        // display: none;
        // margin-left: -15px;
        transition: 1s;
        transform: translateY(12em);

        ul {
          //   border: red solid 2px;

          flex-direction: column;
          background-color: white;
          //   position: absolute;
          z-index: 1;
          //   margin: 5em;
          width: 80%;
          justify-content: initial;
          text-align: center;
          justify-content: space-around;
          li {
            margin-top: 2em;
            a {
              color: black;
            }
            &:last-child {
              margin-bottom: 50px;
            }
            a.active {
              color: black;
              border-radius: 30px;
              background-color: orange;
              padding: 12px 17px;
            }
          }
        }
      }
    }
  }

  //////////////////////////////////////////////////////////////
  .grid {
    .image-1 {
      order: 0;
    }
    .image-2 {
      order: 1;
    }
    .transform-block-text {
      order: 2;
      // height: auto;
      margin-bottom: 150px;
    }
    .image-3 {
      order: 3;
    }
    .transform-block-text.order-4 {
      order: 4;
    }
    .image-graphic-design-photography {
      order: 6;
    }
    .image-graphic-design-photography {
      order: 5;
      // position: relative;
      margin: 0;
      .container-gd {
        margin-bottom: 87px;
        // margin: 0;
        // order: 4;
        text-align: center;
        max-height: 135px;
        color: #25564b;

        position: absolute;
        // margin-top: 21em;
        p {
          padding: 0;
          width: 100%;
        }
      }
    }

    display: flex;
    flex-wrap: wrap;
    h1.main-heading {
      font-size: 45px;
      // position: absolute;
      top: 0;
      margin-top: 850px;
    }

    .arrow {
      transform: translate(-50%, 31%);
    }

    .transform-block-text .flex-container {
      text-align: center;
      h3 {
        margin-top: 2em;
        margin-bottom: 1em;
        font-size: 2.1rem;
      }
      p {
        margin-bottom: 1.8em;
      }
      .learn-div-1 {
        // margin-bottom: 2.5em;
        margin: 0 auto 2.5em;
      }
      .learn-div-2 {
        // margin-bottom: 2.5em;
        margin: 0 auto 2.5em;
      }
      p:last-of-type {
        margin-top: 15px;
      }
    }
  }
  .clients-flex {
    h4 {
      margin-top: 2.94em;
      margin-bottom: 2.9em;
    }
    padding: 0 2rem;
    flex-wrap: wrap;
    .client-div {
      .circle {
        margin-bottom: 2em;
      }
      p {
        margin-bottom: 2.1em;
      }
      strong {
        margin-bottom: 2em;
      }
    }
  }

  .image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
